<section class="container">
  <header class="header d-flex">
    <div class="buscar-pensamentos">
        <input type="search" class="filtro" placeholder="O que você procura?" autofocus [(ngModel)]="filtro" (keyup)="pesquisarPensamentos()"/>
        <img src="../../../../assets/imagens/lupa.png" alt="Imagem de uma lupa azul">
    </div>
    <h2 class="ff-inter">Meu Mural</h2>
    <div class="botoes">
        <button class="botao" (click)="listarPensamentos()">Meu Mural</button>
        <button class="botao" (click)="listarFavoritos()">Meus favortios</button>
        <button routerLink="/criarPensamento" class="botao">
      Novo Pensamento
    </button>
    </div>
    <!-- routerLink é uma diretiva do Angular que permite criar links para outras rotas dentro da aplicação -->
  </header>
  @if (listaPensamentos.length > 0) {
    <div class="mural">
      @for (pensamentos of listaPensamentos; track pensamentos) {
        <app-pensamento [pensamento]="pensamentos"></app-pensamento>
        <!-- property binding de pensamento recebe o (pensamentos)valor de listaPensamentos -->
      }
    </div>
  } @else {
    <div class="ff-inter sem-pensamentos">
      <p>Ainda não há pensamentos para exibir!</p>
    </div>
  }
</section>
<app-botao-carregar-mais
  [haMaisPensamentos]="haMaisPensamentos"
  (click)="carregarMaisPensamentos()"
></app-botao-carregar-mais>
